{% extends 'base.html' %}

{% block title %} Все статьи на сайте {% endblock %}

{% block content %}
    <div class="container">
      <h1>Все статьи на сайте</h1>
      {% for post in posts %}
        <div class="alert alert-info">
          <h2>{{ post['title'] }}</h2>
          <p class="mt2" style="font-size: 20px;">
            {{ post['text'] }}
          </p>
          <a href="{{ url_for('post_edit', post_id=post['id']) }}" class="btn btn-warning btn-sm">Изменить</a>
        </div>
      {% endfor %}
    </div>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://i.vimeocdn.com/portrait/31183172_640x640" height="320" width="320">
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://s1.1zoom.ru/big3/398/409142-sepik.jpg" height="320" width="320">
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://www.komtech.lt/images/pic/2400/2400/868/159.jpg" height="320" width="320">
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://pixnio.com/free-images/2017/12/04/2017-12-04-07-23-59-1200x800.jpg" width="320" height="320">
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://vitebsk.e-mogilev.by/allpics/881372_2.jpg.preview" height="320" width="320">
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://tver.ananasposter.ru/image/catalog/poster/music/90/3459.jpg" height="320" width="320">
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}